<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Profil patient </title>
      <!------- MONTSERRAT FONT  ---------->
      <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">

      <!--------------- ICON - GOOGLE ------------------->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
</head>

<body>
    
    <div class="grid-container">

        <!-- Header -->

            <%- include('Header')%>

        <!-- Header -->


        <!-- Sidebar -->

            <%- include('Sidebar');%>

        <!-- Sidebar -->

        <!-- Main -->

        <%- include('Formulaire');%>

        <!-- Main -->

        <main class="main-container">
            <div class="main-title">
                <p> Un nouveau patient ajouté !! </p>
            </div>
        </main>
    </div>

</body>


</html>