<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire</title>
    <link rel="stylesheet" href="CSS/Formulaire.css">
      <!------- MONTSERRAT FONT  ---------->
      <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">

      <!--------------- ICON - GOOGLE ------------------->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

</head>

<html>

    <body>
 
           
    <div class="grid-container">

        <!-- Header -->

            <%- include('Header')%>

        <!-- Header -->


        <!-- Sidebar -->

            <%- include('Sidebar')%>

        <!-- Sidebar -->

        <!-- Main -->
        <main class="main-container">
           
            <div class="Formulaire">
                <form action = "/Formulaire" method = "post">

                    <div class="main-title">
                        <h3> Ajouter un patient en remplissant le formulaire </h3> 
                    </div>

                    <label>Nom</label>
                    <input type="text" name="Nom" placeholder="Nom du patient ..." required> 

                    <label>Prenom</label>
                    <input type="text" name="Prenom" placeholder="Prenom du patient ..." required>
                    
                    <label>Sexe</label>
                    <select id="Sexe" name="Sexe" required>
                        <option value="Femme">Femme</option>
                        <option value="Homme">Homme</option>
                    </select> 

                    <label>Age</label>
                    <input type="number" name="Age" placeholder="Age du patient ..." required>

                    <label>Date de naissance</label>
                    <input type="date" name="Date" placeholder="Date de naissance du patient ..." required>

                    <input type="submit" value="Ajouter">
                    


                </form>
            </div>
        
        </main>
        <!-- Main -->


    </div>


<script src="JS/Index.js"></script>
        

    </body>

</html>
